sprite-app-store-download-x = 0
sprite-app-store-download-y = 0
sprite-app-store-download-width = 140px
sprite-app-store-download-height = 42px
sprite-app-store-download = sprite-app-store-download-x sprite-app-store-download-y sprite-app-store-download-width sprite-app-store-download-height
sprite-clock-icon-x = 0
sprite-clock-icon-y = -52px
sprite-clock-icon-width = 41px
sprite-clock-icon-height = 47px
sprite-clock-icon = sprite-clock-icon-x sprite-clock-icon-y sprite-clock-icon-width sprite-clock-icon-height
sprite-craftwork-x = 0
sprite-craftwork-y = -109px
sprite-craftwork-width = 108px
sprite-craftwork-height = 36px
sprite-craftwork = sprite-craftwork-x sprite-craftwork-y sprite-craftwork-width sprite-craftwork-height
sprite-dropbox-x = 0
sprite-dropbox-y = -155px
sprite-dropbox-width = 138px
sprite-dropbox-height = 35px
sprite-dropbox = sprite-dropbox-x sprite-dropbox-y sprite-dropbox-width sprite-dropbox-height
sprite-evernote-x = 0
sprite-evernote-y = -200px
sprite-evernote-width = 138px
sprite-evernote-height = 35px
sprite-evernote = sprite-evernote-x sprite-evernote-y sprite-evernote-width sprite-evernote-height
sprite-lock-icon-x = 0
sprite-lock-icon-y = -245px
sprite-lock-icon-width = 42px
sprite-lock-icon-height = 51px
sprite-lock-icon = sprite-lock-icon-x sprite-lock-icon-y sprite-lock-icon-width sprite-lock-icon-height
sprite-logo-white-x = 0
sprite-logo-white-y = -306px
sprite-logo-white-width = 140px
sprite-logo-white-height = 13px
sprite-logo-white = sprite-logo-white-x sprite-logo-white-y sprite-logo-white-width sprite-logo-white-height
sprite-logo-x = 0
sprite-logo-y = -329px
sprite-logo-width = 140px
sprite-logo-height = 13px
sprite-logo = sprite-logo-x sprite-logo-y sprite-logo-width sprite-logo-height
