extends _base.pug
block title
  title Brunch
block main
  h1.heading.heading--clear.visually-hidden Brunch
  header.page-header
    .container
      .navbar.page-header__navbar
        button.button.button--clear.button--outline.navbar__toggle.navbar__toggle--responsive.slide-out-menu-toggle(type='button') Menu
        a.link.link--clear.app-logo.navbar__logo(href='#home')
          .sprite-icon.sprite-icon--logo
        ul.list.list--clear.inline-list.navbar-list.navbar__list.navbar__list--responsive
          div.inline-list
            li.navbar-list__item
              a.link.link--clear.navbar-list__link(href='#home') Tour
            li.navbar-list__item
              a.link.link--clear.navbar-list__link(href='#home') Features
            li.navbar-list__item
              a.link.link--clear.navbar-list__link(href='#home') Pricing
          div.inline-list
            li.navbar-list__item
              a.link.link--clear.navbar-list__link(href='#home') Help
            li.navbar-list__item.navbar-list__item--last
              a.link.link--clear.navbar-list__link(href='#home') Contact
        button.button.button--clear.button--outline.navbar__button.navbar__button--responsive(type='button') Get App
  .slide-out-menu-container
    nav.menu.slide-out-menu
      header.menu-header
        h2.heading.heading--clear.menu__title Navigation
        button.button.button--clear.button--outline.menu__button.menu-header__button.slide-out-menu__toggle Close
      ul.list.list--clear.menu-list
        li.menu-list__item
          a.link.link--clear.menu-list__link(href='#home') Home
        li.menu-list__item
          a.link.link--clear.menu-list__link(href='#features') Features
        li.menu-list__item
          a.link.link--clear.menu-list__link(href='#iphone-feature') Iphone Feature
        li.menu-list__item
          a.link.link--clear.menu-list__link(href='#map-feature') Map Feature
        li.menu-list__item.menu-list__item--last
          a.link.link--clear.menu-list__link(href='#iphone-screens') Iphone Screens
    .slide-out-menu-overlay
  main.main
    section#home.section.section--base.home.text-align.text-align--center
      .container
        .row
          .col-lg-8.offset-lg-2
            h2.heading.heading--clear.section__title.home__title.wow.fadeInUp.animated What happens tomorrow?
            p.text.text--clear.section__text.home__text.wow.fadeInUp.animated(data-wow-delay='.2s') The sight of the tumblers restored Bob Sawyer to a degree of equanimity which he had not possessed since his interview with his landlady. His face brightened up, and he began to feel quite convivial.
            button.button.button--clear.button--outline.button--rounded.section__button.home__button.wow.fadeInUp.animated(type='button' data-wow-delay='.3s')
              | Watch Video
        .section__phone-container.home__phone-container
          .home__phone
            img.image.image--auto.wow.fadeInUp.animated(src='images/home-phone.png' alt='iPhone Display' data-wow-delay='.4s')
    section#features.section.section--base.features
      .container
        .row
          .col-lg-6
            .features__content.wow.fadeInUp.animated
              .features__icon-container
                .sprite-icon.sprite-icon--lock.features__icon
              h2.heading.heading--clear.section__title.features__title Real-time all the time
              .section__text-container.features__text-container
                p.text.text--clear.section__text.features__text Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.
                p.text.text--clear.section__text.features__text.features__text--last Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.
          .col-lg-6
            .features__content.wow.fadeInUp.animated
              .features__icon-container
                .sprite-icon.sprite-icon--clock.features__icon
              h2.heading.heading--clear.section__title.features__title Adopt without any obstacles
              .section__text-container.features__text-container
                p.text.text--clear.section__text.features__text This sounded a very good reason, and Alice was quite pleased to know it. 'I never thought of that before!' she said.
                p.text.text--clear.section__text.features__text.features__text--last This I have produced as a scantling of Jack’s great eloquence and the force of his reasoning upon such abstruse matters.
        .features__line
    section#iphone-feature.section.section--base.iphone-feature
      .container
        .row
          .col-lg-5.offset-lg-7
            h2.heading.heading--clear.section__title.iphone-feature__title
              | Your day
              br
              | is protected
            .section__text-container.iphone-feature__text-container
              p.text.text--clear.section__text.iphone-feature__text There have not been any since we have lived here, said my mother.
              p.text.text--clear.section__text.iphone-feature__text.iphone-feature__text--last We thought - Mr. Copperfield thought - it was quite a large rookery; but the nests were very old ones, and the birds have deserted them a long while.
            .section__buttons-container.iphone-feature__buttons-container
              button.button.button--clear.button--outline.button--rounded.section__button.iphone-feature__button(type='button') Try to hack us
              button.button.button--clear.button--outline.button--rounded.section__button.iphone-feature__button(type='button') Learn more
        .section__phone-container.iphone-feature__phone-container.wow.fadeInLeft.animated
          .iphone-feature__phone
            img.image.image--auto(src='images/iphone-feature-phone.png' alt='iPhone Priview')
    section#map-feature.section.section--base.map-feature
      .container
        .row
          .col-lg-5
            h2.heading.heading--clear.section__title.map-feature__title
              | We are almost
              br
              | everywhere
            .section__text-container.map-feature__text-container
              p.text.text--clear.section__text.map-feature__text Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.
              p.text.text--clear.section__text.map-feature__text.map-feature__text--last Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.
            h3.heading.heading--clear.map-feature__partners-title Partners
            .map-feature__partners-container
              a.link.link--clear.map-feature__partner(href='#')
                .sprite-icon.sprite-icon--dropbox
              a.link.link--clear.map-feature__partner.map-feature__partner--last(href='#')
                .sprite-icon.sprite-icon--evernote
        .map-feature__map-container.wow.fadeInRight.animated
          .map-feature__map
            img.image.image--auto(src='images/map.png' alt='Map')
    section#iphone-screens.section.section--base.iphone-screens
      .container
        .row
          .col-lg-6.offset-lg-3
            h2.heading.heading--clear.section__title.iphone-screens__title Beautiful Interface
            .section__line.iphone-screens__line
            p.iphone-screens__subtitle Landing screen
        .iphone-screens__screens.wow.fadeIn.animated
          ul.list.list--clear.screens-list
            li.screens-list__item.screens-list__screen.screens-list__screen--1
              img.image.image--auto(src='images/screen-1.png' alt='iPhone screen')
            li.screens-list__item.screens-list__screen.screens-list__screen--2
              img.image.image--auto(src='images/screen-2.png' alt='iPhone screen')
            li.screens-list__item.screens-list__phone
              img.image.image--auto(src='images/screen-main.png' alt='iPhone screen')
            li.screens-list__item.screens-list__screen.screens-list__screen--3
              img.image.image--auto(src='images/screen-3.png' alt='iPhone screen')
            li.screens-list__item.screens-list__screen.screens-list__screen--4
              img.image.image--auto(src='images/screen-4.png' alt='iPhone screen')
  footer.page-footer
    .container
      p.text.text--clear.copyright-text &copy; Ethcrawford 2018
